<app-fab [options]="FabOptions"></app-fab>
<eco-fab-speed-dial style="position: fixed;
    bottom: 15px;
    left: 15px;">
  <eco-fab-speed-dial-trigger>
    <button mat-fab (click)="doAction('trigger')">
      <mat-icon>menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="doAction('action1')">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab (click)="doAction('action2')">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab (click)="doAction('action3')">
      <mat-icon>search</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
